body {

  margin: 2rem;
}

ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 8px;
  padding: 12px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
}